aiohttp
aiohttp-retry  
aiosignal
amqp
arabic-reshaper 
asgiref
async-timeout   
attrs
beautifulsoup4  
billiard
blinker
celery
certifi     
charset-normalizer
click
click-didyoumean
click-plugins  
click-repl
colorama
contourpy
crispy-bootstrap5
cycler
distlib
dj-database-url
Django
django-crispy-forms
django-heroku
django-map-widgets
django-mathfilters
EasyProcess
entrypoint2
filelock
Flask
fonttools
frozenlist
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
kombu
MarkupSafe
matplotlib
MouseInfo
mss
multidict
numpy
packaging
Pillow
pipenv
platformdirs
prompt-toolkit
psycopg2
PyAutoGUI
PyGetWindow
PyJWT
PyMsgBox
pyparsing
pyperclip
PyRect
pyscreenshot
PyScreeze
python-bidi
python-dateutil
python-dotenv
pytweening
pywhatkit
redis
reportlab
requests
rtl
six
soupsieve
sqlparse
twilio
typing_extensions
tzdata
urllib3
vine
virtualenv
virtualenv-clone
wcwidth
Werkzeug
whitenoise
wikipedia
yarl
whitenoise