
{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="content" id="content_contract">
    <div class="title-info">
      <i class="fa fa-chart-bar"></i>
      <p id="numbers"> العقود </p>
    </div>
    <div dir="rtl" id="search_add">
      {% csrf_token %}
        <form method="get" action="" style="padding-right: 20px;" dir="rtl" style="padding-right: 20px;">
            <label for="filter_date">  اختيار التاريخ ضمن العقد:</label>
            <input class="filter_button" style="background-color: #ffffff;" type="date" id="filter_date" name="filter_date" value="{{ request.GET.filter_date }}">
      <div>
        <label for="filter_contract_kind"> نوع العقد </label>
        <select id="filter_contract_kind" name="filter_contract_kind">
            <option value="">سكني وتجاري</option>
            <option value="تجاري" {% if request.GET.filter_contract_kind == "تجاري" %}selected{% endif %}>تجاري</option>
            <option value="سكني" {% if request.GET.filter_contract_kind == "سكني" %}selected{% endif %}>سكني</option>
        </select>

        <button class="action-button" type="submit"> تصفية</button>
    </form>
      </div>
    </div>
<br><br>
    <h4 dir="rtl" style="padding-right: 20px;">العقود النشطة : {{ active_contracts_count }}</h4>
    <h4 dir="rtl" style="padding-right: 20px;"> العقود المنتهية: {{ overdue_contracts_count }}</h4>
    <h4 dir="rtl" style="padding-right: 20px;"> العقود التي لم تبدأ: {{ upcoming_contracts_count }}</h4>
    <br>

    <table id="contract-table" dir="rtl">
      <colgroup>
        <col class="datenone" span="1" style="width: 10%;" />
        <col class="datenone" span="1" style="width: 10%;" />
        <col class="datenone" span="1" style="width: 10%;" />
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 15%;" />
      </colgroup>
      <tr>
        <th class="datenone" style="color: #ffffff;">   رقم العقد</th>
        <th class="datenone" style="color: #ffffff;">   اسم المستأجر</th>
        <th class="datenone" style="color: #ffffff;" > اسم الوحدة   </th>
        <th style="color: #ffffff;" > تاريخ بداية العقد   </th>
        <th style="color: #ffffff;" >تاريخ نهاية العقد   </th>

      </tr>
      <table dir="rtl"
      <colgroup>
        <col class="datenone" span="1" style="width: 10%;" />
        <col class="datenone" span="1" style="width: 10%;" />
        <col class="datenone" span="1" style="width: 10%;" />
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 15%;" />
      </colgroup>
      <tbody class="contractTable">
      {% for contract in contracts %}
        <tr class="contractsModule">
          <td class="datenone" style="background-color:  rgb(126, 189, 126);">{{ contract.contractNumber }}</th>
          <td class="datenone"  style="background-color:  rgb(126, 189, 126);;">{{ contract.customer }}</th>
          <td class="datenone"  style="background-color:  rgb(126, 189, 126);">{{ contract.unit }}</th>
          <td style="background-color:  rgb(126, 189, 126);" >{{ contract.startDate }}</th>
          <td style="background-color:  rgb(126, 189, 126);" >{{ contract.endDate }}</th> 
             {% endfor %}
    </tbody>
    </tr>
      </table>
    </table>
    <!-- Add Note Modal -->
    <div id="addunitsModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header" dir="rtl">
          <h2 id="edittag"> مبنى جديد</h2>
        </div>
        <div class="modal-body" dir="rtl">
          <div class="enterclient">
            <input type="text" class="idinput" placeholder="اسم المبنى   " id="inputid">
            <input type="text" class="idinput" placeholder="رقم الصك" id="inputname">
            <input type="text" class="idinput" placeholder="اسم الشارع" id="inputnumber">
            <input type="text" class="idinput" placeholder="اسم الحي " id="inputnumber">
            <input type="text" class="idinput" placeholder="اسم  " id="inputnumber">

          </div>
          <p id="addError" class="error"></p>
        </div>
        <div class="modal-footer">
          <button id="saveAddClientBtn" onclick="saveNewClient()" type="button" class="action-button">حفظ
          </button>
          <button id="cancelAddClientBtn" type="button" class="action-button">
            الغاء
          </button>
        </div>
      </div>
    </div>

  </div>






{% endblock content %}