
<!DOCTYPE html>

<html lang="ar">

<head>
  <meta charset="utf-8" />
  <meta name="keywords" content=" وقف الفلاتة الماسوفي, نظام محاسبي عقاري ">
  <meta name="author" content="meeda">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>نظام حسابات المستأجرين  </title>
  <meta name="description" content="النظام المحاسبي لوقف الفلاتة الماسوفية" />
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/small-logo.png' %}">
  <link rel="stylesheet" href="{%static 'css/styles.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body >
  <div class="container">


    <div class="menu">
      <ul>
        <li class="profile">
          <div class="img-box">
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          </div>
          <h2>{{user.username}}</h2>
        </li>
        <li>
          <a id="home" href="{% url 'dashboared' %}">
            <i class="fas fa-home"></i>
            <p>الرئيسية </p>
          </a>
        </li>
        <li>
          <a id="clients" href="{% url 'customers' %}">
            <i class="fas fa-user-group"></i>
            <p> المستأجرين</p>
          </a>
        </li>
        <li>
          <a id="buildings" href="{% url 'buildings' %}">
            <i class="fa-solid fa-building"></i>
            <p> المباني</p>
          </a>
        </li>
        <li>
          <a id="units" href="{% url 'units' %}">
            <i class="fa-solid fa-building"></i>
            <p>الوحدات </p>
          </a>
        </li>
        <li>
          <a id="contracts" href="{% url 'contracts' %}">
            <i class="fa-solid fa-file-lines"></i>
            <p> العقود </p>
          </a>
        </li>
        <li>
          <a id="sittings" href="{% url 'expenses' %}">
            <i class="fa-solid fa-money-check-dollar"></i>
                        <p>المصروفات  </p>
          </a>
        </li>
        <li>
          <a id="docs" href="{% url 'docs' %}">
            <i class="fa-solid fa-file-invoice"></i>
            <p> التقارير</p>
          </a>
        </li>
        <li>
          <a id="sittings" href="{% url 'settings' %}">
            <i class="fa-solid fa-gear"></i>
            <p>الإعدادات </p>
          </a>
        </li>
        
        <li class="log-out">
          <a href="/logout">
            <i class="fas fa-sign-out"></i>
            <p>خروج </p>
          </a>
        </li>
      </ul>
    </div>


    <div class="content" id="content_home">
      <div class="logo">
        <img src="{% static 'img/small-logo.png' %}" alt="logo">
      </div>

{% block content %}

{% endblock content %}





</body>
<script src="{% static 'js/script.js' %}"></script>