{% extends 'head.html' %}
{% load static %}
{% block content %}

<div class="content" id="content_docs">
    <div class="title-info">
      <i class="fa fa-chart-bar"></i>
      <p id="numbers"> تقرير المستأجر:  {{ customer.cName }}   </p>
    </div>
    <div dir="rtl" style="padding-right: 20px;">
        <p>نوع المستأجر : {{ customer.ckind }}</p>
        <br>
        <p>رقم الإثبات : {{ customer.cID }}</p>
        <br>
        <p>تاريخ الميلاد : {{ customer.cDob }}</p>
        <br>
        <p>رقم الجوال : {{ customer.cNumber }}</p>
        <br>
        <p>صورة الهوية : {{ customer.cIdImage }}</p>
    </div>
  </div>


  <div class="content" id="content_docs">
    <div class="title-info">
      <i class="fa fa-chart-bar"></i>
      <p id="numbers"> عقود الإيجار    </p>
    </div>
    <div dir="rtl">
        <table id="contract-table" dir="rtl">
            <colgroup>
              <col span="1" style="width: 10%;" />
              <col span="1" style="width: 10%;" />
              <col span="1" style="width: 20%;" />
              <col span="1" style="width: 15%;" />
              <col span="1" style="width: 15%;" />
            </colgroup>
            <tr>
              <th style="color: #ffffff;">رقم العقد </th>
              <th style="color: #ffffff;">بداية العقد</th>
              <th style="color: #ffffff;">نهاية العقد</th>
              <th style="color: #ffffff;">الوحدة</th>
              <th style="color: #ffffff;">اجمالي الايجار</th>
            </tr>
            <tbody class="contractTable">
              {% for contract in contracts %}
                <tr class="contractsModule">
                  <td style="background-color: rgba(126, 189, 126, 0.349);">{{ contract.contractNumber }}</td>
                  <td style="background-color: rgba(126, 189, 126, 0.349);">{{ contract.startDate }}</td>
                  <td style="background-color: rgba(126, 189, 126, 0.349);">{{ contract.endDate }}</td>
                  <td style="background-color: rgba(126, 189, 126, 0.349);">{{ contract.unit }}</td>
                  <td style="background-color: rgba(126, 189, 126, 0.349);">{{ contract.total_amount }}</td>
                </tr>

              {% endfor %}
            </tbody>
          </table>
  </div>
  </div>

  <div class="content" id="content_docs">
    <div class="title-info">
      <i class="fa fa-chart-bar"></i>
      <p id="numbers"> الدفعات </p>
    </div>
    <div dir="rtl">
        {% for contract in contracts %}
              <li>
                رقم العقد: {{ contract.contractNumber }}<br>
                الوحدة : {{ contract.unit.uName }}<br>
                <!-- Display other contract information -->
                
                <table id="buildings-table" dir="rtl">
                  <colgroup>
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 10%;" />
                  </colgroup>
                  <tr>
                    <th style="color: #ffffff;"> قيمة الدفعة</th>
                    <th style="color: #ffffff;">تاريخ الإستحقاق </th>
                  </tr>
                  <tbody id="PaymentTable">
                    {% for payment in contract.payment_set.all %}
                        <tr class="previousPaymentsModule">
                          <td>{{ payment.amount }}</td>
                          <td>{{ payment.payment_due }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </li>
              <hr>
            {% empty %}
              <li>No payments found.</li>
            {% endfor %}
  </div>
  </div>

  <div class="content" id="content_docs">
    <div class="title-info">
      <i class="fa fa-chart-bar"></i>
      <p id="numbers"> الدفعات المستلمة   </p>
    </div>
    <div dir="rtl">
        {% for contract in contracts %}
              <li>
                رقم العقد: {{ contract.contractNumber }}<br>
                الوحدة : {{ contract.unit.uName }}<br>
                <!-- Display other contract information -->
                
                <table id="buildings-table" dir="rtl">
                  <colgroup>
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 10%;" />
                    <col span="1" style="width: 10%;" />
                  </colgroup>
                  <tr>
                    <th style="color: #ffffff;">الدفعة المستلمة</th>
                    <th style="color: #ffffff;">تاريخ الاستلام</th>
                    <th style="color: #ffffff;">طريقة الدفع</th>
                  </tr>
                  <tbody id="previousPaymentTable">
                    {% for payment in contract.payment_set.all %}
                      {% for received_payment in payment.payment_received.all %}
                        <tr class="hrhrrh">
                          <td>{{ received_payment.received_amount }}</td>
                          <td>{{ received_payment.received_date }}</td>
                          <td>{{ received_payment.payment_method }}</td>
                        </tr>
                      {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </li>
              <hr>
            {% empty %}
              <li>No contracts found.</li>
            {% endfor %}
<br><br>

<h3 style="padding-right: 20px;">  اجمالي المبالغ المستلمة: {{ total_received_amount }} ريال</h3>

<h3 style="padding-right: 20px;">اجمالي المبالغ المتبقية  : {{ total_payment_amount }} ريال </h3>
  </div>





<!-- Display other customer information as needed -->



{% endblock content %}